[submodule "tools/iamgui"]
	path = tools/iamgui
	url = https://github.com/ocornut/imgui.git
[submodule "tools/glfw"]
	path = tools/glfw
	url = https://github.com/glfw/glfw.git
[submodule "tools/pugixml"]
	path = tools/pugixml
	url = https://github.com/Alexey-cpu/pugixml.git
[submodule "tools/abseil"]
	path = tools/abseil
	url = https://github.com/Alexey-cpu/abseil-cpp.git
[submodule "tools/glm"]
	path = tools/glm
	url = https://github.com/g-truc/glm.git
